{% macro callToAction(cta, opts) %}
  {% from "@shizen/macros/ui/atoms/button/ui.button.html.twig" import button %}
  {% from "@shizen/macros/ui/atoms/icon/ui.icon.html.twig" import icon %}
  {% from "@shizen/macros/ui/atoms/link/ui.link.html.twig" import link %}

  {% set primaryLink = cta.field_primary_link %}
  {% set secondaryLink = cta.field_secondary_link %}
  {% set primaryLinkUri = primaryLink.uri %}
  {% set secondaryLinkUri = secondaryLink.uri %}

  {% set hasPrimaryAndSecondaryLink = primaryLinkUri and secondaryLinkUri %}
  {% set contentClasses = 'flex flex-col space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4' ~ (hasPrimaryAndSecondaryLink ? ' sm:my-8') %}

  <div class="{{ opts.class ?? contentClasses }}">
    {% if primaryLinkUri %}
      {% set primaryLinkContent %}
        <div class="inline-flex items-center gap-1">
          {{ primaryLink.title }}
          {{ icon('arrow-right-short') }}
        </div>
      {% endset %}

      {% if hasPrimaryAndSecondaryLink or opts.forcePrimaryLinkButton %}
        {{ button({
          style: 'primary',
          size: opts.ctaSize,
          href: primaryLinkUri,
          label: primaryLinkContent,
          gaCategory: 'cta-primary'
        }) }}
      {% else %}
        {{ link({
          href: primaryLinkUri,
          class: opts.primaryLinkClass ?? 'text-primary',
          label: primaryLinkContent,
          gaCategory: 'cta-primary'
        }) }}
      {% endif %}
    {% endif %}

    {% if secondaryLinkUri %}
      {{ button({
        style: 'secondary',
        size: opts.ctaSize,
        href: secondaryLinkUri,
        label: secondaryLink.title,
        gaCategory: 'cta-secondary'
      }) }}
    {% endif %}
  </div>
{% endmacro callToAction %}
