{% from "@shizen/macros/ui/atoms/icon/ui.icon.html.twig" import icon %}
{% from "@shizen/macros/ui/molecules/header/ui.header.html.twig" import simpleHeader %}

{{ attach_library('shizen/accordion') }}

<div class="grid gap-4">
  {{ simpleHeader({
    layout: 'centered',
    titleTag: paragraph.field_title_tag.value,
    titleLabel: paragraph.field_title.value,
    descriptionLabel: paragraph.field_description.value,
  }) }}

  <div id="accordion-{{ id }}" accordion="collapse"
       data-active-classes="bg-white text-secondary-focus"
       data-inactive-classes="text-secondary">
    {% for item in paragraph.field_faqs %}
      {% set faq = item.entity %}
      {% set id = faq.id %}
      <h2 id="accordion-heading-{{ id }}">
        <button type="button" data-accordion-target="#accordion-body-{{ id }}"
                aria-expanded="false"
                aria-controls="accordion-body-{{ id }}"
                class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-secondary border-b border-stroke gap-3">
          <span>{{ faq.name.value }}</span>
          <span data-accordion-icon class="rotate-180 shrink-0 transition-transform duration-300">
              {{ icon('chevron-up', {size: 20}) }}
            </span>
        </button>
      </h2>
      <div id="accordion-body-{{ id }}" aria-labelledby="accordion-heading-{{ id }}"
           class="transition-all duration-300 ease-in-out overflow-hidden max-h-0">
        <div class="py-5 border-b border-stroke">
          <p class="mb-2 text-secondary">{{ faq.description.value | raw }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
