{% from "@shizen/macros/ui/atoms/image/ui.image.html.twig" import image %}
{% from "@shizen/macros/ui/atoms/link/ui.link.html.twig" import link %}
{% from "@shizen/macros/ui/atoms/title/ui.title.html.twig" import title %}
{% from "@shizen/macros/ui/molecules/header/ui.header.html.twig" import simpleHeader %}

{{ simpleHeader({
  titleTag: paragraph.field_title_tag.value,
  titleLabel: paragraph.field_title.value,
  descriptionLabel: paragraph.field_description.value,
}) }}

<div class="space-y-8 md:space-y-0 md:grid md:gap-12 md:grid-cols-2 lg:grid-cols-4 mt-4">
  {% for article in related_articles %}
    <div>
      {% set title %}
        <div class="w-full h-48 rounded-md overflow-hidden">
          {{ image(
            article.field_image|file_uri,
            {style: 'medium'}
          ) }}
        </div>
        <div class="my-2">
          {{ title({
            tag: 'h6',
            label: article.title.value,
          }) }}
        </div>
      {% endset %}

      {{ link({
        label: title,
        href: path('entity.node.canonical', {'node': article.id}),
      }) }}

      {{ article.field_description.value | raw }}
    </div>
  {% endfor %}
</div>
