{% from "@shizen/macros/ui/atoms/image/ui.image.html.twig" import responsive_image %}
{% from "@shizen/macros/ui/molecules/container/ui.container.html.twig" import container %}

{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% set media = content.field_media[0]['#media'].field_media_image ?? null %}

{% set paragraph_content %}
  {% block paragraph %}
    <div{{ attributes.addClass(classes) }}>
      {% block content %}
        <div class="relative overflow-hidden rounded-md">
          {% if media %}
            <div class="absolute inset-0 bg-cover bg-center"
                 style="background-image: url({{ content.field_media[0]['#media'].field_media_image|file_url }});"
            ></div>
            <div class="absolute inset-0 bg-black opacity-50"></div>
          {% endif %}

          <div class="relative py-16 px-8 lg:p-32 {{ media ? 'text-light' }}">
            {{ content|without('field_media') }}
          </div>
        </div>
      {% endblock %}
    </div>
  {% endblock paragraph %}
{% endset %}

{% set layout_paragraph = paragraph.field_paragraph_layout.entity %}

{{ container({
  alignment: paragraph.field_content_alignment.value,
  background: layout_paragraph.field_layout_background.value,
  height: layout_paragraph.field_layout_height.value,
  width: 'wide',
  content: paragraph_content,
}) }}
