{% from "@shizen/macros/ui/atoms/card/ui.card.html.twig" import card %}
{% from "@shizen/macros/ui/molecules/header/ui.header.html.twig" import simpleHeader %}

{% set is_card = paragraph.field_is_card.value %}

{% set layout = paragraph.field_layout_content_list.value %}
{% set layouts = {
  default: {
    content: 'flex flex-col max-w-screen-md',
    list: 'md:grid-cols-2 lg:grid-cols-3',
  },
  left: {
    section: 'grid md:grid-cols-12 gap-8',
    content: 'col-span-1 md:col-span-4 order-1',
    list: 'md:grid-cols-2 lg:grid-cols-3 col-span-1 md:col-span-8 order-2',
  },
  right: {
    section: 'grid md:grid-cols-12 gap-8',
    content: 'col-span-1 md:col-span-4 md:order-2',
    list: 'md:grid-cols-2 lg:grid-cols-3 col-span-1 md:col-span-8 md:order-1',
  },
  centered: {
    section: '',
    content: 'max-w-screen-md mx-auto',
    list: 'md:grid-cols-2 lg:grid-cols-3',
  },
} %}

<div class="{{ layouts[layout].section|default('') }}">
  {{ simpleHeader({
    wrapperClass: 'mb-8 lg:mb-10' ~ layouts[layout].content|default(''),
    layout: layout,
    titleTag: paragraph.field_title_tag.value,
    titleLabel: paragraph.field_title.value,
    descriptionLabel: paragraph.field_description.value,
  }) }}

  <div class="space-y-8 md:space-y-0 md:grid md:gap-12 {{ layouts[layout].list|default('') }}">
    {% for item in paragraph.field_content_items %}
      {% set itemContent %}
        {{ drupal_entity('paragraph', item.entity.id.value) }}
      {% endset %}

      {% if is_card %}
        {{ card({
          content: itemContent,
        }) }}
      {% else %}
        {{ itemContent }}
      {% endif %}
    {% endfor %}
  </div>
</div>
