{% from "@shizen/macros/ui/atoms/image/ui.image.html.twig" import image %}
{% from "@shizen/macros/ui/molecules/header/ui.header.html.twig" import simpleHeader %}

{{ simpleHeader({
  layout: 'centered',
  titleTag: paragraph.field_title_tag.value,
  titleLabel: paragraph.field_title.value,
  descriptionLabel: paragraph.field_description.value,
}) }}

<div class="grid gap-8 md:grid-cols-2">
  {% for item in team_members %}
    <div class="items-center bg-base-container shadow">
      <div class="flex flex-col md:grid md:grid-cols-12">
        <div class="w-full md:col-span-5 rounded-t-md md:rounded-l-md md:rounded-tr-none overflow-hidden">
          {{ image(
            item.field_profile_image|file_uri,
            {class: 'transition-transform duration-300 ease-in-out hover:scale-125'}
          ) }}
        </div>
        <div class="md:col-span-7 p-5">
          <h3 class="text-xl font-bold tracking-tight">
            {{ item.name.value }}
          </h3>
          <span class="text-secondary">{{ item.field_job_title.value }}</span>
          <p class="mt-3 mb-4 font-light text-secondary">{{ item.description.value | raw }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
