{% from "@shizen/macros/ui/molecules/container/ui.container.html.twig" import container %}
{% from "@shizen/macros/ui/atoms/media/ui.media.html.twig" import media %}

{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% set media = content.field_media[0]['#media'].field_media_image ?? null %}
{% set media_alignment = paragraph.field_image_alignment.value %}

{% set paragraph_content %}
  {% block paragraph %}
    <div{{ attributes.addClass(classes) }}>
      <div class="grid lg:grid-cols-12 gap-10 items-center">
        {% if media %}
          <div class="hidden lg:block lg:col-span-5 {{ media_alignment == 'right' ? 'lg:order-2' }}">
            {{ media(content.field_media, {
              responsive_image_id: 'content_1_1',
            }) }}
          </div>
        {% endif %}

        <div class="{{ media ? 'lg:col-span-7' : 'lg:col-span-12 text-center' }}">
          {{ content|without('field_media') }}
        </div>
      </div>
    </div>
  {% endblock paragraph %}
{% endset %}

{% set layout_paragraph = paragraph.field_paragraph_layout.entity %}

{{ container({
  background: layout_paragraph.field_layout_background.value,
  height: layout_paragraph.field_layout_height.value,
  width: 'wide',
  content: paragraph_content,
}) }}

