{% from "@shizen/macros/ui/atoms/image/ui.image.html.twig" import responsive_image %}
{% from "@shizen/macros/ui/molecules/container/ui.container.html.twig" import container %}

{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% set has_media = content.field_media[0]['#media'].field_media_image is defined %}
{% set media_alignment = paragraph.field_image_alignment.value %}

{% set paragraph_content %}
  {% block paragraph %}
    <div{{ attributes.addClass(classes) }}>
      <div class="grid lg:grid-cols-12 gap-10 items-center">
        {% if has_media %}
          {% set media = content.field_media[0]['#media'].field_media_image %}

          <div class="hidden lg:block lg:col-span-5 {{ media_alignment == 'right' ? 'lg:order-2' }}">
            {{ responsive_image(media, 'content_1_1') }}
          </div>
          <div class="lg:col-span-7 {{ media_alignment == 'right' ? 'lg:order-1' }}">
            {{ content.field_paragraph_hero_section }}
          </div>
        {% else %}
          <div class="lg:col-span-12 text-center">
            {{ content.field_paragraph_hero_section }}
          </div>
        {% endif %}
      </div>
    </div>
  {% endblock paragraph %}
{% endset %}

{% set layout_paragraph = paragraph.field_paragraph_layout.entity %}

{{ container({
  background: layout_paragraph.field_layout_background.value,
  height: layout_paragraph.field_layout_height.value,
  width: 'wide',
  content: paragraph_content,
}) }}

