{% macro link(opts) %}
  {% from "@shizen/macros/ui/atoms/ga/ui.ga.html.twig" import ga_event %}

  <a href="{{ opts.href | raw }}" {{ attributes }}
     class="hover:text-primary-hover transition-colors duration-200 hover:no-underline {{ opts.class ?? '' }}"
    {{ opts.ariaLabel ? 'aria-label="' ~ opts.ariaLabel ~ '"' }}
    {%- if opts.attributes is defined %}
      {%- for name, value in opts.attributes %}
        {{- ' ' ~ name|replace({'_':'-'}) }}="{{ value }}"
      {%- endfor %}
    {%- endif %}
    {{ ga_event('link-' ~ opts.gaCategory, 'click', opts.href) }}
  >
    {{ opts.label }}
  </a>
{% endmacro link %}
