{% extends "block.html.twig" %}

{% from "@shizen/macros/ui/atoms/title/ui.title.html.twig" import title %}

{% block content %}
  {% if site_logo %}
    <a href="{{ path('<front>') }}" rel="home" class="flex items-center space-x-3">
      <img src="{{ site_logo }}" alt="{{ site_name }}" fetchpriority="high" class="h-8 my-auto" />
      {% if site_name %}
        {{ title({tag: 'span', label: site_name, style: 'h4'}) }}
      {% endif %}
    </a>
  {% endif %}

  {% if site_logo %}
    {{ site_slogan }}
  {% endif %}
{% endblock %}
