{% macro simpleHeader(opts) %}
  {% set wrapperClass = opts.wrapperClass ?? 'mb-8 lg:mb-10' %}

  {% set layouts = {
    default: 'flex flex-col gap-4',
    centered: 'flex flex-col gap-4 items-center max-w-screen-md mx-auto text-center',
  } %}

  {% set descriptionFontSize = {
    3: 'text-3xl',
    4: 'text-2xl text-secondary',
    5: 'text-xl text-secondary',
    6: 'text-lg text-secondary',
  } %}

  {% set titleLevel = opts.titleTag|replace({'h': ''}) %}
  {% set descriptionLevel = titleLevel matches '/^\\d+$/' ? titleLevel|number_format + 3 %}
  {% set descriptionLevel = descriptionLevel ? descriptionFontSize[descriptionLevel]|default('') %}

  <div class="{{ wrapperClass }}">
    {% set opts = opts|merge({
      layoutClasses: layouts[opts.layout ?? 'default'],
      calculatedDescriptionClass: descriptionLevel ~ ' ' ~ (opts.descriptionClass ?? '')
    }) %}

    {{ _self._innerHeader(opts) }}
  </div>
{% endmacro simpleHeader %}

{% macro _innerHeader(opts) %}
  {% from "@shizen/macros/ui/atoms/title/ui.title.html.twig" import title %}
  {% from "@shizen/macros/ui/molecules/cta/ui.cta.html.twig" import callToAction %}

  <div class="{{ opts.layoutClasses }}">
    {% if opts.titleLabel %}
      {{ title({
        tag: opts.titleTag,
        style: opts.titleStyle,
        label: opts.titleLabel,
        class: opts.titleClass,
      }) }}
    {% endif %}

    {% if opts.descriptionLabel %}
      <div class="{{ opts.calculatedDescriptionClass }}">
        {{ opts.descriptionLabel | raw }}
      </div>
    {% endif %}

    {{ callToAction(opts.cta, opts) }}
  </div>
{% endmacro _innerHeader %}
