<div class="relative overflow-hidden rounded-md group">
  {% if media %}
    <div class="absolute inset-0 bg-cover bg-center bg-light-dark-soft bg-blend-multiply
        {{ hoverable ? 'group-hover:bg-blend-normal' }}"
         style="background-image: url({{ content.field_media[0]['#media'].field_media_image|file_url }});"
    ></div>
  {% endif %}

  <div class="relative py-16 px-8 lg:p-32
      {{ media ? 'text-light' }}
      {{ hoverable ? 'pt-10 pl-10 lg:pt-10 lg:pl-10' }}"
  >
    {{ content|without('field_media') }}
  </div>
</div>
