{{ include('@shizen/layout/_partials/header.html.twig') }}

{% if page.secondary_menu %}
  <div class="w-full">
    {{ page.secondary_menu }}
  </div>
{% endif %}

{% if page.breadcrumb %}
  <div class="w-full">
    {{ page.breadcrumb }}
  </div>
{% endif %}

{% if page.highlighted %}
  <div class="w-full">
    {{ page.highlighted }}
  </div>
{% endif %}

{% if page.help %}
  <div class="w-full">
    {{ page.help }}
  </div>
{% endif %}

<main class="w-full">
  <a id="main-content" tabindex="-1" class="sr-only"></a>

  <div class="w-full">
    {{ page.content }}
  </div>
</main>

{{ include('@shizen/layout/_partials/footer.html.twig') }}
