{% macro container(opts) %}
  {% set widths = {
    default: 'container',
    full_width: 'w-full',
    large: 'max-w-screen-md mx-auto',
    narrow: 'max-w-screen-sm mx-auto',
  } %}

  {% set heights = {
    default: 'py-6 lg:py-10',
    compact: 'py-4',
    jumbotron: 'py-8 lg:py-16',
    none: 'py-0',
  } %}

  {% set colors = {
    default: 'bg-base',
    bright: 'bg-base-container',
    soft: 'bg-base-container-secondary',
    muted: '',
    bold: '',
    dark: 'bg-base-dark',
  } %}

  {% set layoutWidth = opts.layoutWidth ?? 'default' %}
  {% set layoutHeight = opts.layoutHeight ?? 'default' %}
  {% set bgColor = opts.bgColor ?? 'default' %}
  {% set tag = opts.tag ?? 'section' %}

  {% set containerClasses = [
    heights[layoutHeight]|default('default'),
    colors[bgColor]|default('default'),
    opts.class ?? ''
  ]|join(' ')|trim %}

  <{{ tag }} class="w-full {{ containerClasses }}">
    <div class="{{ widths[layoutWidth]|default('default') }}">
      {{ opts.content | raw }}
    </div>
  </{{ tag }}>
{% endmacro container %}
